.avatar {
    width: 150px;
    height: 200px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
}



.profile {
    display: flex;
    width: 400px;
    height: 220px;
    border-bottom: 6px solid orange;
    background: rosybrown;
    border-radius: 30px;
    margin: auto auto;
}

.details {
    text-align: center;
    margin-left: 30px;
    margin-top: 30px;
}